<div class="container">
    <div class="progress" *ngIf="busy">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-1">
            <button type="button" class="btn btn-outline-light" (click)="goBack()"><h4><i class="bi bi-arrow-left"></i></h4></button>
        </div>
        <div class="col-sm-8">
            <h1 class="center">Edit Unit</h1><br>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-outline-primary w-100 float-right" (click)="save()">
          Save
        </button>
        </div>
    </div>
    <form #f="ngForm" [formGroup]="form" id="storeForm">
        <div class="row">
            <div class="col-md-6">
                <!-- Name Input -->
                <div class="mb-3">
                    <label for="name">Unit Name</label>
                    <input type="text" class="form-control" id="name" name="name" formControlName="name" />
                </div>
            </div>

            <div class="col-md-6">
                <!-- Short Name Input -->
                <div class="mb-3">
                    <label for="shortname">Short Name</label>
                    <input type="text" class="form-control" id="shortname" name="shortname" formControlName="shortname" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- Base Unit Input in a new row -->
                <div class="mb-3">
                    <label for="baseUnit">Base Unit</label>
                    <input type="text" class="form-control" id="baseUnit" name="baseUnit" formControlName="baseUnit" />
                </div>
            </div>
        </div>

        <div class="mb-3">
            <!-- Status Toggle -->
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" id="status" name="status" formControlName="status" />
                <label class="form-check-label" for="statusSwitch">Status</label>
            </div>
        </div>
    </form>

</div>