<ul class="breadcrumb">
	<li class="breadcrumb-item"><a href="javascript:;">LAYOUT</a></li>
	<li class="breadcrumb-item active">COLLAPSED SIDEBAR</li>
</ul>

<h1 class="page-header">
	Collpased Sidebar <small>page header description goes here...</small>
</h1>

<hr class="mb-4">

<p>
	Add the following app settings to your <code>page.ts</code> or change the variable from <code>/service/app-settings.service.ts</code> to make it affected globally.
</p>

<card class="mb-3">
	<div class="hljs-container border-0">
		<pre><code class="xml" [highlight]="code1"></code></pre>
	</div>
</card>