<div class="container">
  <div class="progress" *ngIf="busy">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>
  <br />

  <div class="row">
      <div class="col-sm-1">
          <button type="button" class="btn btn-outline-light" (click)="goBack()"><h4><i class="bi bi-arrow-left"></i></h4></button>
      </div>
      <div class="col-sm-8">
          <h1 class="center">Create Transfer</h1>
      </div>
      <div class="col-sm-2">
          <button type="submit" class="btn btn-outline-primary w-100 float-right" (click)="save()">
              Save
          </button>
      </div>
  </div>
</div><br>
<div class="container">
  <div class="form-group mb-3">
      <form #f="ngForm" [formGroup]="form" id="transferForm">

        <div class="row">
          <div class="col-md-6">
            <label for="companyId" class="form-label">Company</label>
            <select class="form-select" id="companyId" #companyId name="companyId" formControlName="companyId"
                placeholder="Company" required>
                <option value="" selected disabled> Choose Company  </option>
                <option *ngFor="let company of companies" [value]="company.id">
                    {{ company.name }}
                </option>
            </select>
          </div>
          <!-- <div class="col-sm-6">
              <label class="form-label" for="product">Product</label>
              <select class="form-select" formControlName="product" >
                <option value="" selected disabled> Choose Unit  </option>
                <option *ngFor="let product of products" [value]="product.id" >{{product.name}}</option>
              </select>
          </div> -->
        </div>
        <br>
        <div class="row">
          <!-- <div class="col-sm-6">
            <label class="form-label" for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" placeholder="Quantity" value=""
                formControlName="quantity" />
          </div> -->
          <div class="col-sm-6">
            <label class="form-label" for="fromstore">From Store</label>
            <select class="form-select" formControlName="fromstore" (change)="onFromStoreChange($event)">
              <option value="" selected disabled> Choose Store </option>
              <option *ngFor="let fromstore of stores" [value]="fromstore.id" [disabled]="fromstore.id === selectedToStore">{{fromstore.name}}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="tostore">To Store</label>
            <select class="form-select" formControlName="tostore" (change)="onToStoreChange($event)"> 
              <option value="" selected disabled> Choose Store </option>
              <option *ngFor="let tostore of stores" [value]="tostore.id" [disabled]="tostore.id === selectedFromStore">{{tostore.name}}</option>
            </select>
          </div>
        </div>
        <br>
        <!-- Product Section -->
        <div class="row" formArrayName="products">
          <div class="col-md-12 mt-3">
              <button type="button" class="btn btn-success" (click)="addProduct()">Add Product</button>
          </div>
          <div *ngFor="let productGroup of products.controls; let i = index" [formGroupName]="i" class="col-md-12 mb-3">
              <br>
              <div class="row">

                  <div class="col-md-3">
                      <label class="form-label" for="productId">Product</label>
                      <select class="form-select" formControlName="productId" required>
                  <option value="" disabled selected>Choose Product</option>
                  <!-- Iteprice through productData to dynamically populate options -->
                  <option *ngFor="let product of productsData" [value]="product.id">{{ product.name }}</option>
                  </select>
                  <div *ngIf="!productGroup.get('productId')?.valid && productGroup.get('productId')?.touched" class="help-block">
                      Product is required
                  </div>
                  </div>

                  <div class="col-md-3">
                      <label class="form-label" for="quantity">Quantity</label>
                      <input type="number" class="form-control" id="quantity" placeholder="Enter quantity" formControlName="quantity" />
                      <div *ngIf="!productGroup.get('quantity')?.valid && productGroup.get('quantity')?.touched" class="help-block">
                          Quantity is required
                      </div>
                  </div>

                  <div class="col-md-2">
                      <label class="form-label" for="price">Price</label>
                      <input type="number" class="form-control" id="price" placeholder="Enter price" formControlName="price" />
                      <div *ngIf="!productGroup.get('price')?.valid && productGroup.get('price')?.touched" class="help-block">
                          Price is required
                      </div>
                  </div>

                  <div class="col-md-2">
                    <label class="form-label" for="salesPrice">Sales Price</label>
                    <input type="number" class="form-control" id="salesPrice" placeholder="Enter salesPrice" formControlName="salesPrice" />
                    <div *ngIf="!productGroup.get('salesPrice')?.valid && productGroup.get('salesPrice')?.touched" class="help-block">
                        Sales Price is required
                    </div>
                </div>

                  <div class="col-md-2 d-flex align-items-center justify-content-center">
                      <button type="button" class="btn btn-danger" (click)="removeProduct(i)">Remove</button>
                  </div>

              </div>
          </div>

      </div>
        
      </form>
  </div>
</div>