<div class="container">
    <div class="progress" *ngIf="busy">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <br/>

    <div class="row">
        <div class="col-sm-1">
            <button type="button" class="btn btn-outline-light" (click)="goBack()"><h4><i class="bi bi-arrow-left"></i></h4></button>
        </div>
        <div class="col-sm-8">
            <h1 class="center">Edit Purchase Return</h1><br>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-outline-primary w-100 float-right" (click)="save()">
            Save
          </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="container">
        <div class="form-group mb-3">
            <form #f="ngForm" [formGroup]="form" id="purchaseForm">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="form-label" for="reference">Reference</label>
                        <input type="name" class="form-control" id="reference" placeholder="REF0001... " value="" formControlName="reference" />
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label" for="puchaseReturnDate">Purchase Date</label>
                        <input type="date" class="form-control" id="puchaseReturnDate" placeholder="2021-21-21" value="" formControlName="puchaseReturnDate" />
                    </div>

                    <div class="col-sm-4">
                        <label class="form-label" for="description">Description</label>
                        <input type="name" class="form-control" id="description" placeholder="Description " value="" formControlName="description" />
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-3">
                        <!-- form select -->
                        <label class="form-label" for="storeId">Store</label>
                        <select class="form-select" formControlName="storeId">
                            <option value="" disabled selected>Choose Store</option>
                            <!-- Iterate through storeId to dynamically populate options -->
                            <option *ngFor="let store of stores" [value]="store.id">{{ store.name }}</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <!-- form select -->
                        <label class="form-label" for="supplierId">Supplier</label>
                        <select class="form-select" formControlName="supplierId">
                            <option value="" disabled selected>Choose Supplier</option>
                            <!-- Iterate through unitsData to dynamically populate options -->
                            <option *ngFor="let supplier of supplierData" [value]="supplier.id">{{ supplier.name }}</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label" for="description">Discount</label>
                        <input type="name" class="form-control" id="discount" placeholder="Discount 0%" value="" formControlName="discount" />
                        <div *ngIf="!form.get('discount')?.valid && form.get('discount')?.touched" class="help-block">
                            Discount is required
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <!-- form select -->
                        <label class="form-label" for="actionType">Action Type</label>
                        <select class="form-select" formControlName="actionType">
                        <option value="" selected>Choose Action Type</option>
                        <option value="credit">credit</option>
                        <option value="debit">debit</option>
                        </select>
                    </div>
                </div>
                <br>

                <!-- Product Section -->
                <div class="row" formArrayName="products">
                    <div class="col-md-12 mt-3">
                        <button type="button" class="btn btn-success" (click)="addProduct()">Add Product</button>
                    </div>

                    <div *ngFor="let productGroup of products.controls; let i = index" [formGroupName]="i" class="col-md-12 mb-3">
                        <div class="row">

                            <div class="col-md-3">
                                <label class="form-label" for="productId">Product</label>
                                <select class="form-select" formControlName="productId">
                                    <option value="" disabled selected>Choose Product</option>
                                    <!-- Iterate through productData to dynamically populate options -->
                                    <option *ngFor="let product of productData" [value]="product.id">{{ product.name }}</option>
                                </select>
                                <div *ngIf="!form.get('productId')?.valid && form.get('productId')?.touched" class="help-block">
                                    Product is required
                                </div>
                            </div>


                            <!-- <div class="col-md-3">
                                <label class="form-label" for="productId">Product</label>
                                <input type="name" class="form-control" id="productId" placeholder="Enter productId" formControlName="productId" />
                                <div *ngIf="!productGroup.get('productId')?.valid && productGroup.get('productId')?.touched" class="help-block">
                                    productId is required
                                </div>
                            </div> -->

                            <div class="col-md-3">
                                <label class="form-label" for="quantity">Quantity</label>
                                <input type="number" class="form-control" id="quantity" placeholder="Enter quantity" formControlName="quantity" />
                                <div *ngIf="!productGroup.get('quantity')?.valid && productGroup.get('quantity')?.touched" class="help-block">
                                    Quantity is required
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label" for="rate">Rate</label>
                                <input type="number" class="form-control" id="rate" placeholder="Enter rate" formControlName="rate" />
                                <div *ngIf="!productGroup.get('rate')?.valid && productGroup.get('rate')?.touched" class="help-block">
                                    Rate is required
                                </div>
                            </div>

                            <div class="col-md-3 d-flex align-items-center justify-content-center">
                                <button type="button" class="btn btn-danger" (click)="removeProduct(i)">Remove</button>
                            </div>

                        </div>
                    </div>

                </div>
                <br />

            </form>
        </div>
    </div>
</div>