<ul class="breadcrumb">
	<li class="breadcrumb-item"><a href="javascript:;">LAYOUT</a></li>
	<li class="breadcrumb-item active">FULL WIDTH</li>
</ul>

<h1 class="page-header">
	Full Width <small>page header description goes here...</small>
</h1>

<hr class="mb-4">

<p>
	Add the following app settings to your <code>page.ts</code> or change the variable from <code>/service/app-settings.service.ts</code> to make it affected globally.
</p>

<card class="mb-3">
	<div class="hljs-container border-0">
		<pre><code class="xml" [highlight]="code1"></code></pre>
	</div>
</card>

<p>
	<a href="javascript:history.back(-1);" class="btn btn-outline-theme"><i class="bi bi-chevron-left fa-fw ms-n1"></i> Back to previous Page</a>
</p>