<div class="container">
    <div class="progress" *ngIf="busy">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-1">
            <button type="button" class="btn btn-outline-light" (click)="goBack()">
        <h4><i class="bi bi-arrow-left"></i></h4>
      </button>
        </div>
        <div class="col-sm-8">
            <h1 class="center">Edit Company</h1><br>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-outline-primary w-100 float-right" (click)="updateCompany()">
        Save
      </button>
        </div>
    </div>

    <div class="container">
        <div class="form-group mb-3">
            <form #f="ngForm" [formGroup]="form" id="companyForm">
                <img src="{{ imageUrl }}/{{ company.avatar }}" class="img-thumbnail  mx-auto my-auto" style="width: 150px; height: 150px; border-radius: 50%;" alt="..." />

                <div class="row">
                    <div class="col-sm-6">
                        <label class="form-label" for="companyName">Company Name</label>
                        <input type="name" class="form-control" id="companyName" placeholder="Company Name" formControlName="name" />
                        <!-- value="{{company.name}}" -->
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="tinnumber">Tin Number</label>
                        <input type="text" class="form-control" id="tinnumber" placeholder="Tin Number" value="" formControlName="tinnumber" />
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <label class="form-label" for="phoneNumber">Phone Number</label>
                        <input type="number" class="form-control" id="phoneNumber" placeholder="+251....." formControlName="phoneNumber" />
                        <!-- value="{{ company.phone?.code }}{{ company.phone?.number }}" -->
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="companyEmail">Email address</label>
                        <input type="email" class="form-control" id="companyEmail" placeholder="Company Email" formControlName="email" />
                        <!-- value="{{company.email}}" -->
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <!-- form select -->
                        <label class="form-label" for="country">Country</label>
                        <select class="form-select" formControlName="country">
              <option value="" selected disabled>Choose Country</option>
              <option value="Ethiopia">Ethiopia</option>
            </select>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="cityInput">City</label>
                        <input type="name" class="form-control" id="cityInput" placeholder="City" formControlName="city" />
                        <!-- value="{{company.address?.city}}" -->
                    </div>

                </div>
                <br />

                <div class="row">
                    <div class="col-sm-6">
                        <!-- file input -->
                        <label class="form-label" for="avatar">Company Logo</label>
                        <input type="file" class="form-control" id="avatar" value="" formControlName="avatar" (change)="getFile($event)" />
                    </div>
                    <div class="col-sm-6">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="statusSwitch" formControlName="status" />
                            <label class="form-check-label" for="statusSwitch">Status</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>