<!-- BEGIN pos -->
<card class="pos pos-vertical" id="pos">
	<!-- BEGIN pos-container -->
	<card-body class="pos-container">
		<!-- BEGIN pos-header -->
		<div class="pos-header">
			<div class="logo">
				<a routerLink="/pos/counter-checkout">
					<div class="logo-img"><i class="bi bi-x-diamond" style="font-size: 1.5rem;"></i></div>
					<div class="logo-text">Pine & Dine</div>
				</a>
			</div>
			<div class="time" id="time">{{ getTime() }}</div>
			<div class="nav">
				<div class="nav-item">
					<a routerLink="/pos/kitchen-order" class="nav-link">
						<i class="bi bi-bootstrap-reboot nav-icon"></i>
					</a>
				</div>
				<div class="nav-item">
					<a routerLink="/pos/table-booking" class="nav-link">
						<i class="bi bi-calendar-date nav-icon"></i>
					</a>
				</div>
				<div class="nav-item">
					<a routerLink="/pos/menu-stock" class="nav-link">
						<i class="bi bi-pie-chart nav-icon"></i>
					</a>
				</div>
			</div>
		</div>
		<!-- END pos-header -->
	
		<!-- BEGIN pos-content -->
		<div class="pos-content overflow-hidden">
			<ng-scrollbar>
				<div class="pos-content-container h-100 p-4">
					<div class="d-md-flex align-items-center mb-4">
						<div class="flex-1">
							<div class="fs-24px mb-1">Available Table ({{ getAvailableTable() }}/{{ tables.length }})</div>
							<div class="mb-2 mb-md-0 d-flex">
								<div class="d-flex align-items-center me-3">
									<i class="fa fa-circle fa-fw text-inverse text-opacity-25 fs-9px me-1"></i> Completed
								</div>
								<div class="d-flex align-items-center me-3">
									<i class="fa fa-circle fa-fw text-warning fs-9px me-1"></i> Upcoming
								</div>
								<div class="d-flex align-items-center me-3">
									<i class="fa fa-circle fa-fw text-success fs-9px me-1"></i> In-progress
								</div>
							</div>
						</div>
						<div class="w-250px">
							<div class="input-group">
								<input class="form-control" placeholder="yyyy-mm-dd" name="datepickerComponentValue" [(ngModel)]="datepickerComponentValue" ngbDatepicker #d2="ngbDatepicker" />
								<button class="btn btn-outline-default bi bi-calendar3" (click)="d2.toggle()" type="button"></button>
							</div>
						</div>
					</div>
					<div class="row gx-4">
						<ng-container *ngIf="tables">
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6" *ngFor="let table of tables">
								<card class="pos-table-booking">
									<card-body class="p-1">
										<div class="pos-table-booking-container">
											<div class="pos-table-booking-header">
												<div class="d-flex align-items-center">
													<div class="flex-1">
														<div class="title">TABLE</div>
														<div class="no">{{ table.name }}</div>
														<div class="desc">max {{ table.pax}} pax</div>
													</div>
													<div class="pe-1 text-success" *ngIf="checkAvailable(table.reservation)">
														<i class="bi bi-check2-circle fa-3x"></i>
													</div>
													<div class="text-inverse text-opacity-25" *ngIf="!checkAvailable(table.reservation)">
														<i class="bi bi-dash-circle fa-3x"></i>
													</div>
												</div>
											</div>
											<div class="pos-table-booking-body">
												<div class="booking" *ngFor="let reservation of table.reservation" [ngClass]="{'highlight': checkSameHour(reservation.time) }">
													<div class="time">{{ reservation.time }}</div>
													<div class="info">{{ (reservation.text) ? reservation.text : '-' }}</div>
													<div class="status" [ngClass]="getStatus(reservation.time, reservation.text)"><i class="fa fa-circle" *ngIf="reservation.text"></i></div>
												</div>
											</div>
										</div>
										<a href="#" class="stretched-link" (click)="showBookingModal($event, table)"></a>
									</card-body>
								</card>
							</div>
						</ng-container>
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6" *ngIf="!tables">
							No records found
						</div>
					</div>
				</div>
			</ng-scrollbar>
		</div>
		<!-- END pos-content -->
	</card-body>
	<!-- END pos-container -->
</card>
<!-- END pos -->

<!-- BEGIN #modalPosBooking -->
<div class="modal modal-pos fade" id="modalPosBooking">
	<!-- BEGIN modal-dialog -->
	<div class="modal-dialog modal-lg">
		<!-- BEGIN modal-content -->
		<div class="modal-content border-0">
			<!-- BEGIN card -->
			<card v-if="modalData">
				<form (ngSubmit)="submitBooking()">
					<!-- BEGIN card-body -->
					<card-body class="p-0">
						<!-- BEGIN modal-header -->
						<div class="modal-header align-items-center">
							<h5 class="modal-title d-flex align-items-end">
								<img src="/assets/img/pos/icon-table-black.svg" alt="" height="25" class="invert-dark me-2 opacity-5" /> 
								Table {{ modalData.name }} 
								<small class="fs-14px ms-2 text-inverse text-opacity-50">max {{ modalData.pax }} pax</small>
							</h5>
							<a href="#" data-bs-dismiss="modal" class="ms-auto btn-close"></a>
						</div>
						<!-- END modal-header -->
						<!-- BEGIN modal-body -->
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-6">
									<ng-container *ngFor="let reservation of modalData.reservation; let i = index"> 
										<div class="form-group mb-2" *ngIf="i <= 7">
											<div class="input-group">
												<div class="input-group-text fw-bold w-90px fs-13px">{{ reservation.time }}</div>
												<input type="text" class="form-control" placeholder="" [value]="reservation.text" />
											</div>
										</div>
									</ng-container>
								</div>
								<div class="col-lg-6">
									<ng-container *ngFor="let reservation of modalData.reservation; let i = index"> 
										<div class="form-group mb-2" *ngIf="i > 7">
											<div class="input-group">
												<div class="input-group-text fw-bold w-90px fs-13px">{{ reservation.time }}</div>
												<input type="text" class="form-control" placeholder="" [value]="reservation.text" />
											</div>
										</div>
									</ng-container>
								</div>
							</div>
						</div>
						<!-- END modal-body -->
						<!-- BEGIN modal-footer -->
						<div class="modal-footer">
							<a href="#" class="btn btn-default w-100px" data-bs-dismiss="modal">Cancel</a>
							<button type="submit" class="btn btn-success w-100px">Book</button>
						</div>
						<!-- END modal-footer -->
					</card-body>
					<!-- END card-body -->
				</form>
			</card>
			<!-- END card -->
		</div>
		<!-- END modal-content -->
	</div>
	<!-- END modal-dialog -->
</div>
<!-- END #modalPosBooking -->