<div>
  <h2>Users</h2><br>
  <div class="progress" *ngIf="busy">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      aria-valuenow="75"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: 100%"
    ></div>
  </div>
  <div class="d-flex justify-content-between mb-2">

    <div class="col-md-4 d-flex justify-content-start">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchUserTerm" />
    </div>

    <div class="col-md-6 d-flex justify-content-end">
      <button class="btn btn-outline-theme btn-lg" *ngIf="claims && claims.create_users"  (click)="createUser()">
        Add User
      </button>
    </div>
  </div>

  <div class="table-responsive overflow-auto mt-2">
    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col">Role</th>
          <th scope="col">Company Name</th>
          <th scope="col">Created On</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users! | customFilterUser: searchUserTerm; let i = index;">
          <td>{{ (page - 1) * pageSize + (i + 1) }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.role.role }}</td>
          <td>{{ user.company.name }}</td>
          <td>{{ formatDateToCustomFormat(user.createdOn!) }}</td>
          <td *ngIf="user.status">
            <span class="fas fa-circle text-success"></span>
          </td>
          <td *ngIf="!user.status">
            <span class="fas fa-circle text-danger"></span>
          </td>
          <td>
            <!-- View Icon -->
            <button
              mat-icon-button
              class="btn btn-outline-success me-1"
              matTooltip="View"
              (click)="view(user)"
            >
              <i class="bi bi-eye icon-xxl"></i>
            </button>

            <!-- Update Icon -->
            <button
              mat-icon-button
              class="btn btn-outline-primary me-1"
              matTooltip="edit"
              *ngIf="claims && claims.create_users"
              (click)="update(user)"
            >
              <i class="bi bi-pencil icon-xxl"></i>
            </button>

            <!-- Delete Icon -->
            <button
              mat-icon-button
              class="btn btn-outline-danger me-1"
              matTooltip="delete"
              *ngIf="claims && claims.delete_users"
              (click)="delete(user)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-between">

    <div class="col-md-auto">
      <select class="form-select" (change)="setPageSize($event)">
  <option value="10">10 per page</option>
  <option value="20">20 per page</option>
</select>
  </div>
  <div class="col-md-auto">
      <nav aria-label="Page navigation">
          <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" aria-label="Previous" (click)="setPageRangeSubtract(1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
              <li class="page-item">
                  <a class="page-link" aria-label="Previous" (click)="setPageRangeSubtract(page - 10)">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>

              <!-- Use ngClass to conditionally apply a class based on the current page -->
              <li class="page-item" *ngFor="let currentPage of pages | slice:startPage-1:endPage let i = index" [class.active]="page === i + startPage">
                  <a class="page-link" (click)="setCurrentPage(i + startPage)">{{ i + startPage }}</a>
              </li>

              <!-- Add more page numbers as needed -->
              <li class="page-item">
                  <a class="page-link" aria-label="Next" (click)="setPageRangeAdd(page)">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
              <li class="page-item">
                <a class="page-link" aria-label="Next" (click)="setPageRangeAdd(pages.length-1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
              <!-- Set page range -->
          </ul>
          <ul class="pagination justify-content-end">
            <li class="page-item">
                <p>Showing page {{ page }} of {{ this.pages.length }}</p>
            </li>
          </ul>
      </nav>
    </div>
  </div>
</div>
<!-- View Modal -->
<ng-template #viewModal let-modal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalLabel">User Details</h5>
        <button
          type="button"
          class="btn-close"
          (click)="modal.dismiss('Cross click')"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- User Details Content -->
        <div class="row">
          <div class="col-md-4">
            <img
              src="{{ imageUrl }}/{{ user?.avatar! }}"
              alt="Avatar"
              class="img-fluid rounded-circle"
            />
          </div>
          <div class="col-md-8">
            <h4>{{ user?.name }}</h4>
            <p>Username: {{ user?.username }}</p>
            <p>Role: {{ (user?.role)!.role }}</p>
            <p>Company Name: {{ (user?.company)!.name }}</p>
            <p>
              Created Date: {{ formatDateToCustomFormat(user?.createdOn!) }}
            </p>
            <p *ngIf="user?.status">
              Status:
              <span class="badge bg-success">Active</span>
            </p>
            <p *ngIf="!user?.status">
              Status:
              <span class="badge bg-danger">InActive</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
