<div class="row">
  <div class="col-sm-1">
    <button type="button" class="btn btn-outline-light">
      <h4><i class="bi bi-arrow-left"></i></h4>
    </button>
  </div>
  <div class="col-sm-8">
    <h1 class="center">Change Password </h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="save()">
    <!-- Your form controls here using formControlName -->
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="oldpassword">Current Password</label>
          <input
            type="text"
            class="form-control form-control-lg bg-inverse bg-opacity-5"
            id="oldpassword"
            formControlName="oldPassword"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label for="newpassword">New Password </label>
          <input
            type="text"
            class="form-control form-control-lg bg-inverse bg-opacity-5"
            id="newpassword"
            formControlName="newPassword"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="confirmpassword">Confirm Password </label>
          <input
            type="text"
            class="form-control form-control-lg bg-inverse bg-opacity-5"
            id="confirmpassword"
            formControlName="confirmPassword"
          />
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <button type="submit" class="btn btn-outline-theme btn-lg">Submit</button>
    </div>
  </form>
</div>
